* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  font-family: $font-default;
  background-color: $color-neutral-grayish-blue;
  position: relative;
  min-height: 100vh;
  height: 100%;
  @include flexCenter;

  width: 100%;
  max-width: $bp-lg;
  margin: 0 auto;
}
