// COLORS
$color-primary-violet: hsl(263, 55%, 52%);
$color-primary-grayish-blue: hsl(217, 19%, 35%);
$color-primary-blackish-blue: hsl(219, 29%, 14%);
$color-primary-white: hsl(0, 0%, 100%);

$color-neutral-light-gray: hsl(0, 0%, 81%);
$color-neutral-grayish-blue: hsl(210, 46%, 95%);

// FONT
$font-default: 'Barlow Semi Condensed', sans-serif;

// BREAKPOINTS
$bp-xs: 375px;
$bp-sm: 600px;
$bp-md: 830px;
$bp-md-2: 1200px;
$bp-lg: 1270px;
$bp-xl: 1440px;
