.card {
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 5rem -3rem rgba(0, 0, 0, 1);
}

.card--1 {
  background: url(/images/bg-pattern-quotation.svg) no-repeat top right 20%,
    $color-primary-violet;
  @include textColor($color-neutral-grayish-blue);

  grid-column: 1 / span 2;
  @include breakpoint($bp-sm) {
    grid-column: span 1;
    background-position: top right 10%;
  }

  .author__photo {
    @include photoBorder(rgba($color-primary-white, 0.3));
  }
}

.card--2 {
  background-color: $color-primary-grayish-blue;
  @include textColor($color-primary-white);

  grid-column: span 1;
  @include breakpoint($bp-md) {
    grid-row: 2;
  }
  @include breakpoint($bp-sm) {
    grid-row: unset;
  }

  .author__photo {
    @include photoBorder(transparent);
  }
}

.card--3,
.card--5 {
  background-color: $color-primary-white;
  @include textColor($color-primary-grayish-blue);

  .author__photo {
    @include photoBorder(transparent);
  }
}

.card--3 {
  grid-column: span 1;
  @include breakpoint($bp-md) {
    grid-row: 2;
  }
  @include breakpoint($bp-sm) {
    grid-row: unset;
  }
}

.card--4 {
  background-color: $color-primary-blackish-blue;
  @include textColor($color-neutral-light-gray);

  grid-column: span 2;
  @include breakpoint($bp-md-2) {
    grid-column: span 2;
  }
  @include breakpoint($bp-sm) {
    grid-column: span 1;
  }

  .author__photo {
    @include photoBorder($color-primary-violet);
  }
}

.card--5 {
  grid-row: 1 / span 2;
  grid-column: 4/5;
  @include breakpoint($bp-md-2) {
    grid-row: span 1;
    grid-column: span 3;
  }
  @include breakpoint($bp-md) {
    grid-column: span 2;
  }
  @include breakpoint($bp-sm) {
    grid-column: span 1;
  }
}

.card__heading {
  font-size: clamp(1.97rem, 5vw, 2.3rem);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.card__msg {
  line-height: 1.5;
  font-size: clamp(1.3rem, 5vw, 1.5rem);
}
